$g2g__container-max-width: (
  'sm': 500px,
  'md': 900px,
  'lg': 1200px
);

$g2g__breakpoints: (
  'sm': 37.5em,
  'md': 76.8em,
  'lg': 110em
);

$g2g__settings: (
  'inline-block': true,
  'flexbox': true,
  'css-grid': true,
  'columns': 12,
  'col-gap': 20px,
  'row-gap': 20px
);